<h1>Show Product</h1>
<h1>Product title -><%= @product.title %></h1>
<% if user_signed_in? && can?(:like, @product) %>
  <% if @product.liked_by?(current_user)  %>
    <%= link_to '<i class="fa fa-thumbs-down" aria-hidden="true" style="color: red"></i>'.html_safe, like_path(@product.like_for(current_user)), method: :delete %>
  <% else  %>
    <%= link_to '<i class="fa fa-thumbs-up" aria-hidden="true"></i>'.html_safe, product_likes_path(@product), method: :post %>
  <% end  %>
<% end  %>
<p> Description -> <%= @product.description %></p>
<p> Price -> $<%= @product.price %></p>
<p> Sale Price -> <%= number_to_currency(@product.sale_price) %></p>
<p>Creator -> <%= @username.first_name %></p>

<p>Category -> <%= @category.name %></p>

<br>
<% if can?(:manage, @product) %>
  <%= link_to 'Edit', edit_product_path(@product) %>
  <%= link_to 'Delete', product_path(@product), method: :delete,
  data: { confirm: 'Are you sure?' } %>
<% end  %>

<h1>TAGS</h1>
  <% @tags.each do |tag| %>
    <%= tag.name %>
  <% end %>

<hr>
<h2>Reviews</h2>
<h3>Create new review</h3>

<%= @review.errors.full_messages.join(',') %>



<%= form_for [@product, @review] do |f| %>
<%= f.text_area :body %>
<%= f.text_area :rating %>
<%= f.submit %>
<% end %>

<hr>


<% @product.reviews.each do |review| %>
<%  @username = User.find review.user_id %>

    Review written by this douche:  <%= @username.first_name %>
    <%= review.body %>
    <%= review.rating %>

  <% if can?(:manage, review) %>
    <%= link_to 'delete', review_path(review), method: :delete, data:{ confirm: 'Are You Sure?'}  %>
  <% end  %>

    <hr>
<% end  %>
