<!DOCTYPE html>
<html>
  <head>
    <title>Amazon ADMIN</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  </head>

  <body>
      <a href="/">Home</a>
      <%= link_to('Contact Us', contact_path) %>
      <%= link_to('About', about_path) %>
      <% if user_signed_in?  %>
          <span>You're signed in <%= session[:user_id] %></span>
           <span>Hello <%= current_user.full_name %>, </span>
            <%= link_to 'Sign Out', sessions_path, method: :delete %>
        <% else %>
          <span>You're not signed in</span>
        <%= link_to 'Sign Up', new_user_path %>
        <%= link_to 'Sign In', new_session_path %>

          <% end %>


<div style="text-align:center">
      <%= notice || alert %>
    <%= yield %>
    </div>
  </body>
</html>
